<!DOCTYPE html>
<html>
        <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

        <script src="js/masonry.pkgd.js"></script>
        <script src="https://unpkg.com/imagesloaded@4/imagesloaded.pkgd.js"></script>
        
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="/css/materialize.css">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <script src="/js/main.js"></script>
        
        <title>Laurens Photos</title>        
    </head>
    <body>
        <ul id="dropdown" class="dropdown-content">
            <li><a href="/oldhikes">Past Hikes</a></li>
            <li><a href="/hikes">2018 Hiking Challenge</a></li>
        </ul>
        <nav class="teal">
            <div class="container">
                <div class="nav-wrapper">
                    <a href="/" class="brand-logo"><i class="large material-icons">image</i></a>
                    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="#!" class="dropdown-trigger" data-target="dropdown">Hikes <i class="material-icons right">arrow_drop_down</i></a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/admin">Admin</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <ul class="sidenav" id="mobile-demo">
            <li>
                <div class="user-view">
                    <div class="background">
                        <img src="https://images.unsplash.com/photo-1443372389995-a1b4810d99c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=289181ea63f3e277542d2448cfd9f85d&auto=format&fit=crop&w=1350&q=80">
                    </div>
                    <a href="#user"><img class="circle" src="http://via.placeholder.com/350x350"></a>
                    <a href="#name"><span class="white-text name">Lauren Scantland</span></a>
                </div>
            </li>
            <li><a href="/hikes">Gallery</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/admin">Admin</a></li>
        </ul>