<% include partials/header %>

<div class="row admin center-align">
    <div class="col s12 m6 l2">
        <div class="snav" id="mobile-nav">
            <h4>Admin Panel</h4>
            <a href="/hikes/new">Add 2018 Hike</a>
            <a href="/oldhikes/new">Add 2016-17 Hike</a>
            <a href="#">Users</a>
            <a href="#">Settings</a>
        </div>
    </div>
    <div class="main">
        <div class="col s12 m6 l10">
        </div>
    </div>
</div>

<% include partials/footer %>