<% include partials/header %>

<div class="parallax-container">
    <div class="parallax"><img src="images/hero.jpg"></div>
</div>
<div class="section teal lighten-4 center-align">
    <div class="row container">
        <h1 class="header">Hi, I'm Lauren</h1>
        <h3 class="grey-text text-darken-3 lighten-3">I like hiking and the outdoors</h3>
        <p>This is my photographic journey to hiking 52 hikes this year.</p>
    </div>
</div>
<div class="parallax-container">
    <div class="parallax"><img src="images/hero2.jpg"></div>
</div>

<% include partials/footer %>